:root{
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --side-padding: 12px;
    --avatar-size: 50px;
    --mini-avatar-size: 35px;
        
    /* Font Size */
    
    --font-head: 25px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

/* 전체 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 기본설정 */
body{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
button, button:focus{
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--white-color);
    color: var(--black-color);
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline;}

/* header */
header{
    display: flex;
    justify-content: space-between;
    padding: var(--side-padding);
    background-color: var(--white-color);
    color: var(--black-color);
}

header .logo{
    font-size: var(--font-head);
    font-weight: bold;
    margin-left: var(--side-padding);
}
header .logo title{
    line-height: 160%;
}
header .search{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
header .search .searchBar{
    font-size: var(--font-head);
    width: 80%;
    height: 100%;
    vertical-align :top ;
    background-color: var(--grey-light-color);
}
header .search .searchBtn{
    height: 100%;
    width: 10%;
    border-radius: 30%;
    font-size: var(--font-large);
}
header .addicon{
    background-color: #b1e6ff;
    height: 50px;
    width: 55px;
    border-radius: 30%;
}
header .icons .searchicon, header .icons .addicon{
    margin-right: var(--side-padding);
    font-size: var(--font-head);
}

/* 사이드바 */
.leftside {
    width: 240px;
    float: left;
}
.leftside span{
    font-size: var(--font-large);
    margin: 30px;
    height: 100%;
}
.leftside button{
    height: 60px;
    width: 240px;
    padding: 10px;
}
.leftside button:hover{
    background-color: var(--grey-light-color);
}
.leftside .upside{
    border-bottom: 1px solid var(--grey-light-color);
    padding-bottom: 30px;
}

.leftside .upside img{
    height: 30px;
    width: 30px;
}

.leftside .subscribers{
    border-bottom: 1px solid var(--grey-light-color);
    padding-top: 30px;
}
.leftside .subscribers .title{
    font-weight: bold;
}
.leftside .subscribers img{
    width: var(--mini-avatar-size);
    height: var(--mini-avatar-size);
    border-radius: 50%;
}


/* channemlForm */
    /* 해쉬태그 */
.genre{
    display: flex;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
    padding: 10px 0;
}
.genre .hashtags{
    display: flex;
    float: left;
    justify-content: space-between;
    font-size: var(--font-large);
    
    color: var(--blue-color);
    margin-left: 10px;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.genre .hashtags .tag{
    display: flex;
    font-size: var(--font-large);
    color: var(--black-color);
    background-color: var(--grey-light-color);
    margin: 10px;
    padding: 10px;
    border-radius: 30%;
}
    /* 비디오라인 */
body > .video{
    padding: var(--side-padding);
}
.video{
    margin: var(--side-padding) 0;
    
    display: flex;
    justify-content: space-between;
}
.video .item{
    /* flex: 1 1 25%; */
    width: 350px;
    max-width: 1000px;
    
    margin: var(--side-padding) 0;
    padding: 30px;
    float: left;
}
.video .item .img{
    object-fit: cover;
}
.video .item .img img{
    width: 270px;
    height: 200px;
    margin: 10px;
}
.video .item .metadata .imgpic{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    margin: 10px;
}
.video .item .metadata img{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    margin: 10px;
}
.video .item .metadata{
    display: flex;
    justify-content: space-between;
}
.video .item .info{
    max-width: 400px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    
}
.video .item .info{
    max-width: 400px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    
}
.video .item .metadata .title{
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.video .item .info .name, .video .item .info .views{
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

/* videoForm */
    /* 플레이어부분 */
.player{
    text-align: center;
    background-color: var(--black-color);
    /* position: sticky; */
    top: 0;
}
.player video{
    width: 100%;
    height: 100%;
    max-width: 1000px;
}
body > .info{
    padding: var(--side-padding);
}

    /* 정보 */
.info .metadata .hashtags{
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}
.info .metadata .hashtags li{
    margin-right: var(--side-padding);
}
.info .metadata .titleAndButton{
    display: flex;
}
.info .metadata .titleAndButton .title{
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--side-padding);
}
.info .metadata .titleAndButton .moreBtn{
    height: 100%;
    color: var(--black-color);
}
.info .metadata .views{
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.info .actions{
    display: flex;
    justify-content: space-around;
    margin: var(--side-padding) 0;
}
.info .actions button{
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.info .actions button i{
    margin: 0 auto;
    margin-bottom: calc(var(--side-padding)/2);
    font-size: 16px;
}
.info .actions button i.active{
    color: var(--blue-color);
}
    /* 채널 */
.channel{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
    padding: 30px 0;
    max-width: 1000px;
}
.channel .noneinfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}
.channel .noneinfo .metadata{
    display: flex;
    align-items: center;
}
.channel .noneinfo .metadata .info{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.channel .noneinfo .metadata img{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}
.channel .noneinfo .metadata .info .name{
    font-size: var(--font-medium);
}
.channel .noneinfo .metadata .info .subscribers{
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
.channel .noneinfo .subscribe{
    text-transform: uppercase;
    color: var(--white-color);
    font-size: var(--font-medium);
    background-color: var(--red-color);
    padding: 10px;
    border-radius: 8%;
    margin-right: 10px;
    text-align: center;
}
.channel .channelinfo .test{
    padding-left: 70px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--side-padding);
    font-size: medium;
}

    /* UpNext */
.upNext{
    padding: var(--side-padding);
}
.upNext > .title{
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--side-padding)/2);
}
.upNext .item{
    display: flex;
    margin-top: var(--side-padding);
}
.upNext .item .img{
    flex: 1 1 35%;
    margin-right: calc(var(--side-padding)/2);
}

.upNext .item .img img{
    width: 400px;
    height: 200px;
    background-color: #868686;
}
.upNext .item .info{
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
}
.upNext .item .moreBtn{
    flex: 1 1 5%;
    /* height: 100%; */
}
.upNext .item .info .title{
    font-size: var(--font-small);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    margin-right: var(--side-padding);
}
.upNext .item .info .name, .upNext .item .info .views{
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}
    /* 인포메이션과 업넥스트의 합 */
.infoAndUpNext{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 760px) {
    .infoAndUpNext{
        flex-direction: row;
        margin: var(--side-padding);
    }
}

@media screen and (max-width: 1000px){
    #searchBar, #searchBtn { display: none; 
    }
    .leftside{ display: none; 
    } 

}
